@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-color: #8B4513; 
        background-image: radial-gradient(circle, #D2B48C, #8B4513); 
        color: #654321;
        ;
        font-family: Baskerville;
    }

    .text-center {
        text-align: center; 
    }

    .content {
        margin-top: 150px;
    }
</style>

<div class="content">
    <div class="text-center">
        <h1 style="font-size: 50px;">Welcome</h1>
    </div>
</div>
