@{
    ViewData["Title"] = "Our Privacy Policy";
}
<style>
    body {
        background-color: #8B4513; 
        background-image: radial-gradient(circle, #D2B48C, #8B4513); 
        color: #654321;
        ;
        font-family: Baskerville;
    }

    .content {
        margin-top: 40px; 
    }
</style>

<h1>@ViewData["Title"]</h1>

<div class="content" style="color: #fff;">
    <p>
        Your privacy matters to us. We only collect essential personal information
        for reservations and internal records, ensuring that your data remains confidential. Rest assured,
        we prioritize the protection of your privacy during your dining experience with us.  
    </p>
</div>
