@model rest.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<style>
    body {
        background-color: #8B4513; 
        background-image: radial-gradient(circle, #D2B48C, #8B4513); 
        color: #fff;
        font-family: Baskerville;
        margin: 0; 
        padding: 0; 
    }

    .form-group label {
        color: #fff; 
    }

    .form-control {
        background-color: #D2B48C;
        color: #fff;
        border-color: #D2B48C; 
    }

        .form-control:focus {
            background-color: #F4A460; 
            border-color: #F4A460; 
            color: #fff; 
        }

    .btn-primary {
        background-color: #8B4513; 
        border-color: #8B4513; 
        border-radius: 20px;
        font-size: 14px;
        padding: 8px 15px;
        cursor: pointer;
    }

        .btn-primary:hover {
            background-color: #D2691E; 
            border-color: #D2691E; 
        }

    .text-danger {
        color: #ff6347; 
    }

    .content-wrapper {
        margin-bottom: 80px; 
    }
</style>

<h1>Edit Details of the item</h1>

<hr />
<div class="content-wrapper">
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" style="margin-top: 5px;" />
            </div>
        </form>
    </div>
</div>

<div>
        <a asp-action="Index" style="color: white; margin-top: 5px;">Back to List</a>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
